body{
    background-color:  black;
    color: #f3f5f7;

    font-family: 'Montserrat', sans-serif;

    
  }

button{
    background-color: #991200;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
  }

.header {
    background-color: #991200;
    text-align: center;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
  }

  /* Create three equal columns that float next to each other */
.column {
    float: left;
    width: 33.33%;
    text-align: center;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (600px wide or less) */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }

  .footer {
    background-color:#991200;
    text-align: center;
    padding: 10px;
  }

  /* Style the form - display items horizontally */
.form-inline {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
  }
  
  /* Add some margins for each label */
  .form-inline label {
    margin: 5px 10px 5px 0;
  }
  
  /* Style the input fields */
  .form-inline input {
    vertical-align: middle;
    margin: 5px 10px 5px 0;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
  }
  
  /* Style the submit button */
  .form-inline button {
    background-color: #991200;
    border: 1px solid #ddd;
    color: white;
    font-family: 'Montserrat', sans-serif;
  }
  
  .form-inline button:hover {
    background-color: royalblue;
  }
  
  /* Add responsiveness - display the form controls vertically instead of horizontally on screens that are less than 800px wide */
  @media (max-width: 800px) {
    .form-inline input {
      margin: 10px 0;
    }
  
    .form-inline {
      flex-direction: column;
      align-items: stretch;
    }
  }
  